body {
  margin: 0;
}
@media screen and (max-width: 600px) {
  #medarbejder-container img,
  #karen_container img,
  #kunde_container img,
  #game_background img {
    width: 50px;
    height: 50px;
  }
}
#screen {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  width: 100%;
  aspect-ratio: 16/9;
}
#game {
  /* grid-area: 1/1;
  overflow: hidden;
  display: grid;
  grid-template-columns: 10%/10%;
  grid-template-rows: 100%; */
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}
#game_elements {
  grid-area: 1/1;
  position: relative;
  overflow: hidden;
}
#game_ui {
  position: absolute;
  top: 9vw;
  right: 5.5vw;
  color: white;

  font-size: 2em;
  font-family: sans-serif;
  color: black;
  pointer-events: none;
}

#score_board {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.1em;
}

#point_count {
  white-space: nowrap;
  text-align: right;
}

#life_board {
  margin-block-start: 0.2em;
  display: grid;
  grid-template-columns: 1.2em 1.2em 1.2em;
}

#life_board img {
  width: 100%;
}

.active_heart {
  filter: drop-shadow(0 0 2px yellow);
}

.broken_heart {
  filter: grayscale(75%) blur(0.5px);
}
/*Animationer */
#medarbejder-container {
  position: absolute;
  scale: 0.4;
  translate: 142% -3.5%;
}
#karen_container {
  position: absolute;
  scale: 0.4;
  translate: -100% -8%;
}

#karen_container1 {
  position: absolute;
  scale: 0.4;
  translate: -100% -8%;
}
.karen {
  animation-name: karen;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes karen {
  0% {
    transform: translate(-30%, 8%);
  }
  100% {
    transform: translate(550%, 8%);
  }
}
.karen1 {
  animation-name: karen1;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 4s;
}
@keyframes karen1 {
  0% {
    transform: translate(-30%, 8%);
  }
  100% {
    transform: translate(550%, 8%);
  }
}
#kunde_container {
  position: absolute;
  scale: 0.35;
  translate: -100% -8%;
}
#kunde_container1 {
  position: absolute;
  scale: 0.35;
  translate: -100% -8%;
}
.kunde {
  animation-name: kunde;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}
@keyframes kunde {
  0% {
    transform: translate(-30%, 8%);
  }
  100% {
    transform: translate(600%, 8%);
  }
}
.kunde1 {
  animation-name: kunde1;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 6s;
}
@keyframes kunde1 {
  0% {
    transform: translate(-30%, 8%);
  }
  100% {
    transform: translate(600%, 8%);
  }
}
.paused {
  animation-play-state: paused;
}
.zoom_out {
  animation-name: zoom_out;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes zoom_out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
/* Startskærm*/
#start {
  grid-area: 1/1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(150deg, cadetblue 0%, pink 100%);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}
.pulse {
  animation-name: pulsering;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
@keyframes pulsering {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}
button {
  padding: 0.5em 1em;
  font-size: 2em;
  margin: auto;
  background-color: rgb(166, 75, 75);
  color: #b8b7cc;
  border: 10px solid #8a2d85;
  cursor: pointer;
  border-radius: 10px;
}
/* Baggrund */
#game_background {
  grid-area: 1/1;
  background-image: url(images/butik-baggrund.jpg);
  background-size: contain;
  background-color: pink;
  overflow: hidden;
  background-repeat: no-repeat;
  /*  background-size: cover; */
}
/*G Game over */
#game_over {
  font-family: Arial, Helvetica, sans-serif;
  grid-area: 1/1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: red;
  text-align: center;
}
.hidden,
#game_over.hidden,
#level_complete.hidden,
#game.hidden,
#start.hidden {
  display: none;
}
/*Level Complete*/
#level_complete {
  font-family: Arial, Helvetica, sans-serif;
  grid-area: 1/1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: cadetblue;
  text-align: center;
}
/* Time board */
#time_board {
  position: relative;
}
#time_container {
  position: absolute;
  width: 100%;
  aspect-ratio: 30/6;
  border: 2px solid black;
  background-color: rgba(208, 204, 204, 0.383);
  top: -15vh;
  right: -0.2vw;
}
#time_sprite {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: limegreen;
  transform-origin: right;
}

.shrink {
  animation-name: shrink_kf;
  animation-delay: 3s;
  animation-duration: 35s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes shrink_kf {
  0% {
    scale: 1 1;
    background-color: limegreen;
  }
  50% {
    background-color: rgb(255, 230, 0);
  }
  100% {
    scale: 0 1;
    background-color: red;
  }
}
